<igx-navbar class="navbar">
  <div class="row-layout group">
    <img src="/assets/logo-white.svg" class="image" />
    <p class="igx-typography__subtitle-2 text">
      B
    </p>
    <p class="igx-typography__subtitle-2 text_1">
      IZ
    </p>
  </div>
  <div class="row-layout group_1">
    <igx-badge type="error" value="3" class="badge"></igx-badge>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        notifications
      </igx-icon>
    </button>
  </div>
  <div class="row-layout group_2">
    <div class="row-layout group_3">
      <igx-avatar src="/assets/Avatar13.png" [roundShape]="true" class="avatar"></igx-avatar>
      <div class="column-layout group_4">
        <p class="igx-typography__body-2 text">
          Sandy Anderson
        </p>
        <p class="igx-typography__overline text_1">
          Business Tools
        </p>
      </div>
      <button igxButton="icon" igxRipple [igxToggleAction]="dropdown" class="button">
        <igx-icon>
          keyboard_arrow_down
        </igx-icon>
      </button>
      <igx-drop-down #dropdown class="dropdown">
        <igx-drop-down-item [isHeader]="true">
          App Settings
        </igx-drop-down-item>
        <igx-drop-down-item>
          Account
        </igx-drop-down-item>
        <igx-drop-down-item>
          Logout
        </igx-drop-down-item>
      </igx-drop-down>
    </div>
  </div>
</igx-navbar>
<div class="row-layout group_5">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="1024" width="200px" class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          dashboard
        </igx-icon>
        <span>Home</span>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          business
        </igx-icon>
        <span>Accounts</span>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          people
        </igx-icon>
        <span>Contacts</span>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          assessment
        </igx-icon>
        <span>Reports</span>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          calendar_today
        </igx-icon>
        <span>Agenda</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
