:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  --igx-navbar-background: #6941C6;
  --igx-navbar-text-color: hsla(var(--igx-primary-100));
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
}
.group_1 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_4 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.image {
  object-fit: cover;
  margin: 0 8px 0 0;
  width: 26px;
  height: 24px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.text {
  color: white;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  color: rgba(256, 256, 256, 0.6);
  height: max-content;
  min-width: min-content;
}
.avatar {
  --background: none;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-primary-400));
}
.badge {
  right: 8px;
  top: 4px;
  position: absolute;
  width: max-content;
  height: max-content;
}
.button {
  color: white;
}
.dropdown {
  height: max-content;
  min-width: min-content;
}
